/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@keyframes letras {
  0%   {background-color:red; left:200px; top:200px;}
  25%  {background-color:yellow; left:200px; top:200px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:200px; top:200px;}
  100% {background-color:white; left:200px; top:200px;}
}
/*@keyframes red {
  0% {transform: scale(0);opacity: 0;}
  50% {transform: scale(1);}
  100% {transform: scale(0);opacity: 1;transform: rotate(2turn);}
}

@keyframes blue {
  0%{opacity: 0}
  100% {opacity:1; transform: rotate(1turn);}
  */
@keyframes film {
    0% {opacity: 0}
    100% {opacity: 1;}
}
@keyframes blue {
    0% {transform: translate(900px);}
    100% {transform: translate(-50px);}
}
.title {animation-name: film;
animation-duration: 3s;
animation-delay: 0s;
animation-iteration-count: 1;
animation-timing-function: ease-in-out;}
.blue{ 
  width: 50px;
  bottom: 54%;
  right: 90%;
  animation-name: blue;
  animation-duration: 6s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  } 

.header {
        animation-name: letras;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        transform-origin: 2;
        padding-left: 50px;
        text-align: center;
}


h1,h2,.form-group, p,h3, button { font-family: 'gilbert-color-bold-preview5'; }
.nav {  font-family: 'gilbert-color-bold-preview5';
        height: 40px;
        text-align: center;}
.nav {background-color:#212121;
    color:#FFFFFF;
    height: auto; 
    border-top: thin;
    border-top-color: #FFFFFF;
    justify-content: center;
    font-size: 30px;
}

.nav ul {
    text-align: center;
    list-style-type: none;
    z-index: 10;
}

.nav ul li {
    display: inline;
    position: relative;}

.nav ul li a {color:#FFFFFF; padding: 12px; display: inline-block;text-decoration: none; }

.nav ul li a:hover { 
    background-color:#FFFFFF;
    color:#000000;  
}
.baner {margin-top: 20px;}
h2 {text-align: center;}
.enviar {
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 15px;
  margin-top: 13px;
  display: inline-block;
  border-radius: 5px;
  transition-duration: 1s, 2s; 
  transition-property: background,padding;

}

.enviar a:hover {
  background: black;
  padding-right:83.3%;
  color: white; 
}

.footer {background-color: #0D0D19;
        padding: 10px;
}
.botonespie {float: right;}
.title{text-align: center;}
h3 {text-align: center;}
.jumbotron {text-align: center;}
.enviar {color: blue;
          margin-bottom: 10px;}
.fondo {background-image: url('bandera.png');}          
.ayuda {margin-bottom: 15px;
        text-align: center;}          

/*XXL*/
@media screen and (min-width: 1201px) and (max-width: 1200px) {
  body {background:}
}
/*L*/
@media screen and (min-width: 991px) and (max-width: 1200px) {
  body {background: }
}
/*M*/
@media (min-width: 600px)  and (max-width: 990px)
 {
  body {background:}
  #contenedor {flex-wrap: wrap;}

}
/*S*/
@media (min-width: 0px)  and (max-width: 599px)
 {
  body {background:}
  #contenedor{flex-wrap: wrap;}
  .footer {flex-direction:column}
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
